.calculator {
    background-color: black;
    height: 720px;
    width: 500px;
    border-radius: 2.5%;
}
.display {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 3rem;
    padding: 10px;
    height: 100px;
    margin: 5px 20px;
    color: white;
}

.result {
    font-size: smaller;
}
.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    height: 100px;
    width: 100px;
    background-color: #555555;
    border-radius: 50px;
    margin: 10px;
}
.btn:hover {
    filter: brightness(90%);
    transition: 0.1s;
}
.buttons {
    width: 500px;
    height: 600px;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:  repeat(5,1fr);
}
.zero {
    width: 200px;
    /* background-color: aqua; */
    grid-column: span 2;
    padding-left: 45px;
    justify-content: start;
}
